# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
# .gitignore

# 1. Çevresel Değişkenler (BUNU SAKIN SİLME)
.env
.env.*

# 2. Python Artıkları
__pycache__/
*.py[cod]
*.so
.venv
env/
venv/

# 3. Docker ve Veritabanı Verileri (Localde kalsın)
infra/postgres/data/
infra/redis/data/

# 4. IDE Dosyaları
.vscode/
.idea/

# 5. Büyük Veri Dosyaları
data/*.osm
data/*.pbf
*.log